.full-height {
    min-height: 100vh;
    max-height: 100vh;
}

.one-fourth-height {
    height: 25vh;
}

.one-third-height {
    height: 33.33vh;
}

.full-width {
    width: 100%;
}

.navbar-default {
    width: 100vw;
    bottom: 0;
}

.nav-button {
    height: fit-content;
    width: 20vw;
}

.no-radius {
    border-radius: 0;
}

.nav-icon {
    text-align: center;
}

.fit {
    height: fit-content;
    width: fit-content;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-margin {
    margin: 0;
}

hr.solid {
    border-top: 1px solid rgb(214, 208, 208);
}

.text-turquoise {
    color: rgb(0, 153, 153);
}

.has-bg-very-light-green {
    background-color: #d8f3dc;
}

.is-overflow {
    overflow-y: scroll;
}

.header {
    height: 12vh;
}

.home-body {
    height: 75vh;
}